// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

//removes default button styling
@mixin button-reset{
    border: none;
    border-radius: 0;
    outline: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;

    &:active, &:focus{
        outline: none;
    }
}

//removes default link styling
@mixin link-reset{
    color: currentColor;
    text-decoration: none;
}

//removes default margins
@mixin margin-reset{
    margin-top: 0;
    margin-bottom: 0;
}


//absolute position, stretches to fill relative parent
@mixin absolute-cover{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

//GPU enabled animations
@mixin use-hardware{
    transform: translate3d(0, 0, 0);
}